<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <div>
    <form  #heroForm="ngForm" class="example-container">
      <mat-form-field hintLabel="Max 50 characters">
        <input [(ngModel)]="vehicle.brand" required matInput #input maxlength="50" placeholder="Enter a brand" name="brand">
        <mat-hint align="end">{{vehicle.brand?.length || 0}}/50</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 50 characters">
        <input [(ngModel)]="vehicle.model" required  matInput #input maxlength="50" placeholder="Enter a model" name="model">
        <mat-hint align="end">{{vehicle.model?.length || 0}}/50</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 200 characters">
        <input [(ngModel)]="vehicle.customer" required matInput #input maxlength="200" placeholder="Enter a customer name" name="custromer">
        <mat-hint align="end">{{vehicle.customer?.length || 0}}/200</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 20 characters">
        <input [(ngModel)]="vehicle.plate" required matInput #input maxlength="20" placeholder="Enter a plate" name="plate">
        <mat-hint align="end">{{vehicle.plate?.length || 0}}/20</mat-hint>
      </mat-form-field>
      <mat-form-field >
          <input [(ngModel)]="vehicle.color" required [(colorPicker)]="vehicle.color" [style.background]="vehicle.color" matInput name="color"/>
      </mat-form-field>
      <mat-form-field>
        <input  [(ngModel)]="vehicle.year" pattern="[0-9]{4}" required matInput #input maxlength="4" placeholder="Enter a year" name="year">
        <mat-hint align="end">{{vehicle.year?.length || 0}}/4</mat-hint>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial [disabled]="!heroForm.form.valid">Save</button>
</mat-dialog-actions>