<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>vehicles:</span>
    <button type="button" (click)="addVehicle()" aria-label="Create new vehicle" mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">add_circle</mat-icon>
    </button>
    <button type="button" (click)="toggleSelection()" aria-label="Create new vehicle" mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">playlist_add_check</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-form-field class="vehicleInput">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="vehicles" class="mat-elevation-z8" class="vehicleTable">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox *ngIf="selectionMode" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>brand</th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef>model</th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>
  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>customer</th>
    <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
  </ng-container>
  <ng-container matColumnDef="plate">
    <th mat-header-cell *matHeaderCellDef>plate</th>
    <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
  </ng-container>
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef>color</th>
    <td mat-cell *matCellDef="let element" [ngStyle]="element.color | safeColor"></td>
  </ng-container>
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef>year</th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="$event ? deleteVehicle(element) : null">
        <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
      </button>

    </td>
  </ng-container>
  <ng-container matColumnDef="navigate">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/history/{{element.plate}}">
        delete
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['select','brand' , 'model', 'customer', 'plate', 'color', 'year', 'delete', 'navigate']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['select','brand' , 'model', 'customer', 'plate', 'color', 'year','delete', 'navigate']"></tr>
</table>